<!DOCTYPE html>
<html>
    <head>
        <title>Speaker Station | Store</title>
        <meta name="description" content="Buy Speakers For Less">
        <link rel="stylesheet" href="../assets/css/main.css" />
        <script src="https://checkout.stripe.com/checkout.js" defer></script>
        <script>
        var stripePublicKey = "<%=stripePublicKey %>"
         </script>
        <script src="../assets/css/store.js" defer></script>
        <noscript><link rel="stylesheet" href="assets/css/noscript.css"/></noscript>
        
    </head>
    <body>
        <header id="header">
            <h1><a href="index.html">Justice in Trees</a></h1>
            <nav id="nav">
              <ul>
                <li class="special">
                  <a href="#menu" class="menuToggle"><span>Menu</span></a>
                  <div id="menu">
                    <ul>
                      <li><a href="index.html">Home</a></li>
                      <li><a href="#">Portfolio</a></li>
                      <li><a href="#">Order Materials/a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </nav>
          </header>

        <section class="container content-section">
            <h2 class="section-header">Speakers</h2>
            <h3 style="text-align: center;">Click the Picture to See Detailed Information</h3>
            <div class="shop-items">
                <% items.music.forEach(function(item){ %>
                                    <div class="shop-item" data-item-id="<%= item.id %>">
                    <span class="shop-item-title"><%= item.name %></span>
                    <a href="<%= item.link %>">
                        <img class="shop-item-image" src="Images/<%= item.imgName %>">
                        </a>
                    
                    <div class="shop-item-details">
                        <span class="shop-item-price">$<%= item.price / 100 %></span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div>
                <%}) %>

        </section>
        <section class="container content-section">
            <h2 class="section-header">Cement Mixes + Sand</h2>
            <div class="shop-items">
                    <div class="table-wrapper">
                        <table class="alt" >
                            <thead>
                                <tr>
                                  <th>Item</th>
                                  <th>Unit</th>
                                  <th>Price</th>
                                </tr>
                              </thead>
                          <tbody>
                            <% items.music.forEach(function(item){ %>
                            <tr class="shop-item" data-item-id="<%= item.id %>">
                              <td class="shop-item-title"><%= item.item%></td>
                              <td><%= item.unit%></td>
                              <td class="shop-item-price"><%= item.price / 100 %></td>
                              <td><button class="btn btn-primary shop-item-button" type="button" onClick="return false">ADD TO CART</button></td>
                            </tr>
                            <%}) %>
                          </tbody>
                        </table>
                      </div>
                

        </section>

        <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">$0</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">PURCHASE NOW</button>
        </section>

        <footer class="main-footer">
            <div class="container main-footer-container">
                <h3 class="band-name">Speaker Station</h3>
                <ul class="nav footer-nav">
                    <li>
                        <a href="https://www.spotify.com" target="_blank">
                            <img src="Images/Spotify Logo.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com" target="_blank">
                            <img src="Images/Facebook Logo.png">
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>