<!DOCTYPE html>
<html>
  <head>
    <title>Justice in Trees Materials</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="assets/css/main.css" />
    <script src="https://checkout.stripe.com/checkout.js" defer></script>
    <!--add stripe public key here  -->
    <script src="../assets/css/store.js" defer></script>
    <noscript><link rel="stylesheet" href="assets/css/noscript.css"/></noscript>
  </head>

  <body class="is-preload">
    <!-- Page Wrapper -->
    <div id="page-wrapper">
      <!-- Header -->
      <header id="header">
        <h1><a href="index.html">Justice in Trees</a></h1>
        <nav id="nav">
          <ul>
            <li class="special">
              <a href="#menu" class="menuToggle"><span>Menu</span></a>
              <div id="menu">
                <ul>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="#">Portfolio</a></li>
                  <li><a href="#">Order Materials/a></li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
      </header>

      <!-- Main -->
      <article id="main">
        <header>
          <h2>Justice in Trees</h2>
          <p>Order your supplies here</p>
        </header>
        <section class="wrapper style5">
          <div class="inner">
            <section>
              <h4>Materials</h4>
              <hr />
              <!-- Table 1 -->
              <h5>Decorative Rock</h5>
              <div class="table-wrapper">
                <table class="alt" >
                    <thead>
                        <tr>
                          <th>Item</th>
                          <th>SKU</th>
                          <th>Unit</th>
                          <th>Price</th>
                        </tr>
                      </thead>
                  <tbody>
                    <% items.music.forEach(function(item){ %>
                    <tr data-item-id="<%= item.id %>">
                      <td><%= item.item%></td>
                      <td><%= item.sku%></td>
                      <td><%= item.unit%></td>
                      <td><%= item.price%></td>
                    </tr>
                    <%}) %>
                  </tbody>
                </table>
              </div>
              <!-- table 2 -->
              <h5>River Rock</h5>
              <div class="table-wrapper">
                <table class="alt" >
                    <thead>
                        <tr>
                          <th>Item</th>
                          <th>Image</th>
                          <th>Unit</th>
                          <th>Price</th>
                        </tr>
                      </thead>
                  <tbody>
                    <% items.riverrock.forEach(function(item){ %>
                    <tr data-item-id="<%= item.id %>">
                      <td><%= item.name%></td>
                      <td><%= item.imgname%></td>
                      <td><%= item.unit%></td>
                      <td><%= item.price%></td>
                    </tr>
                    <%}) %>
                  </tbody>
                </table>
              </div>
              <!-- Table 3 -->
              <h5>Cement Mixes + Sand</h5>
              <div class="table-wrapper">
                <table class="alt" >
                    <thead>
                        <tr>
                          <th>Item</th>
                          <th>SKU</th>
                          <th>Unit</th>
                          <th>Price</th>
                        </tr>
                      </thead>
                  <tbody>
                    <% items.music.forEach(function(item){ %>
                    <tr data-item-id="<%= item.id %>">
                      <td><%= item.item%></td>
                      <td><%= item.sku%></td>
                      <td><%= item.unit%></td>
                      <td><%= item.price%></td>
                    </tr>
                    <%}) %>
                  </tbody>
                </table>
              </div>
          </div>
        </section>
      </article>

      <!-- Footer -->
      <footer id="footer">
        <ul class="icons">
          <li>
            <a href="#" class="icon brands fa-twitter"
              ><span class="label">Twitter</span></a
            >
          </li>
          <li>
            <a href="#" class="icon brands fa-facebook-f"
              ><span class="label">Facebook</span></a
            >
          </li>
          <li>
            <a href="#" class="icon brands fa-instagram"
              ><span class="label">Instagram</span></a
            >
          </li>
          <li>
            <a href="#" class="icon brands fa-dribbble"
              ><span class="label">Dribbble</span></a
            >
          </li>
          <li>
            <a href="#" class="icon solid fa-envelope"
              ><span class="label">Email</span></a
            >
          </li>
        </ul>
        <ul class="copyright">
          <li>&copy; Untitled</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
